body {
    font-family: Arial, sans-serif;
    background: linear-gradient(pink, rgb(231, 110, 245), pink);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: red;
}

form {
    margin-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    border: 1px;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to top, #fff0 0%, #fff 100%);
    gap: 100px;
}