body {
    font-family: Arial, sans-serif;
    background: linear-gradient(pink, rgb(231, 110, 245), pink);
    justify-content: center;
    align-items: center;
    color: red;
}

section {
    background-image: linear-gradient(to top, #fff0 0%, #fff 100%);
}



.poutine {
    width: 200px;
    height: 200px !important;
    border-radius: 50%;
}